body{
    background-color: darkcyan;
    background-image: url(resources/welcome\ image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(30%);
    background-size: cover;
    height: 720px;
}
b,p{
    color: rgb(0, 0, 0);

}
div{
    text-align: center;
}
a{
    position: relative;
    top: 200px;
}